.mymetadata
.checkstyle
.classpath
.project
.class
.war
.zip
.rar
.idea
*.iml
.settings/*
/indexes/*
/target/*
/src/main/webapp/WEB-INF/classes/*
/target/
src/main/java/test/
src/main/webapp/static/common/
src/main/webapp/upload/

