* {
  margin: 0;
  padding: 0;
}
/* body {
    background: rgb(36, 36, 99);
} */
nav a {
  text-decoration: none;
}
nav a:link,
nav a:visited,
nav a:hover,
nav a:focus,
nav a:active {
  color: #fff;
  text-decoration: none;
}
nav a:hover {
  color: #00b7ff;
}
nav {
  max-width: 100%;
  height: 50px;
  background: rgba(0, 0, 0, 0.1);
  display: flex;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  align-items: center;
}
.logo {
  background-image: url(../../img/common/NewLogo.gif);
  background-repeat: no-repeat;
  background-size: 50px 50px;
  width: 50px;
  height: 50px;
  margin: 0 10px;
}
.nav-content,
.drop-menu {
  list-style: none;
}
.drop-hover:hover {
  cursor: pointer;
}
.drop-hover:hover .drop-menu {
  max-height: 100%;
}
.drop-menu {
  z-index: 999;
  -webkit-transition: max-height 1s;
  -moz-transition: max-height 1s;
  -ms-transition: max-height 1s;
  -o-transition: max-height 1s;
  transition: max-height 1s;
  max-height: 0;
  overflow: hidden;
  position: absolute;
  background: rgba(255, 255, 255, 0.5);
  color: #fff;
  padding-right: 30px;
  line-height: 30px;
}
.drop-menu li {
  margin-left: 15px;
  margin-top: 10px;
}
.nav-content {
  width: 350px;
  padding: 0 20px;
}
.nav-content li:hover {
  cursor: pointer;
  color: #00b7ff;
}
.nav-content > li {
  float: left;
  padding: 0 10px;
  line-height: 50px;
  color: #fff;
}
.nav-right {
  margin-left: auto;
  height: 50px;
  right: 0;
  margin-right: 15px;
  line-height: 50px;
  list-style: none;
}
.nav-right > li {
  line-height: 50px;
  float: left;
  margin-right: 10px;
}
.nav-right > li > a {
  padding: 5px 20px;
}
.reg {
  border: 1px solid #fff;
  border-radius: 20px;
}
.login {
  border-radius: 20px;
  background: #000;
}
.img-circle {
  width: 48px;
  height: 48px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  border-radius: 24px;
}
@media screen and (max-width: 768px) {
  .nav-content {
    display: none;
  }
}
