* {
    margin: 0;
    padding: 0;
}

.box {
    margin-top: 100px;
    height: 500px;
}

.list {
    width: 1200px;
    height: 300px;
    overflow: hidden;
    position: absolute;
    left: 50%;
    margin-left: -600px;
}

li {
    position: absolute;
    top: 0;
    left: 0;
    list-style: none;
    opacity: 0;
    transition: all 0.3s ease-out;
}

img {
    width: 751px;
    height: 300px;
    border: none;
    float: left;
}

.p1 {
    transform: translate3d(-224px, 0, 0) scale(0.81);
}

.p2 {
    transform: translate3d(0px, 0, 0) scale(0.81);
    transform-origin: 0 50%;
    opacity: 0.5;
    z-index: 2;
}

.p3 {
    transform: translate3d(224px, 0, 0) scale(1);
    z-index: 3;
    opacity: 1;
}

.p4 {
    transform: translate3d(449px, 0, 0) scale(0.81);
    transform-origin: 100% 50%;
    opacity: 0.5;
    z-index: 2;
}

.p5 {
    transform: translate3d(672px, 0, 0) scale(0.81);
}

.p6 {
    transform: translate3d(896px, 0, 0) scale(0.81);
}

.p7 {
    transform: translate3d(1120px, 0, 0) scale(0.81);
}

/*select card*/
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.clearfix {
    *zoom: 1;
}

a {
    text-decoration: none;
    color: #08c;
}

.tabBox {
    height: 500px;
    width: 1000px;
    margin: 20px auto;
}

.navTabs {
    border-bottom: 1px solid #ddd;
    margin-bottom: 30px;
}

.navTabs li {
    float: left !important;
    margin: 0 2px !important;
    position: relative !important;
    opacity: 1 !important;
}

.navTabs li a {
    padding: 10px 20px;
    cursor: pointer;
    display: block;
}

.navTabs li a:hover {
    border-radius: 4px 4px 0 0;
    background: #eee;
}

.navTabs li.active a {
    border: 1px solid #ddd;
    border-bottom: none;
    border-radius: 4px 4px 0 0;
    color: #333;
    margin-bottom: -1px;
    background: #fff;
    cursor: default;
}
.cards {
    margin: 0;
    padding: 0;
}
.cards li {
    background-color: whitesmoke !important;
    color: #000 ;
    flex: 1 1 200px ;
    position: relative !important;
    opacity: 1 !important;
    box-shadow: 0px 10px 10px -8px #0f0f0f;
}
.flex {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
}

.flex li {
    flex: 1 1 200px !important;
    margin: 10px !important;
}
.cards p {
    padding: 3px;
    text-align: left;
    margin-left:10px;
}
.spancol{
    color: #FFD700 ;
}
.spancol2{
    color: lightgrey ;
}
.cards h2{
    text-align: left;
    margin-left:10px;
}
#card1{
    height: 300px;
    width: 200px;
    padding: 0px;
}
#card1 img{
    width: 320px;
    height: 200px;
    border: none;
    object-fit: cover;

}
#card2{
    height: 300px ;
    width: 200px;
    padding: 0px;
}
#card2 img{
    width: 320px;
    height: 200px;
    border: none;
    float: left;
    object-fit: cover;
}
#card3{
    height: 300px;
    width: 200px;
    padding: 0px;
}
#card3 img{
    width: 320px;
    height: 200px;
    border: none;
    float: left;
    object-fit: cover;
}
#card4{
    height: 300px;
    width: 200px;
    padding: 0px;
}
#card4 img{
    width: 320px;
    height: 200px;
    border: none;
    object-fit: cover;

}
#card5{
    height: 300px ;
    width: 200px;
    padding: 0px;
}
#card5 img{
    width: 320px;
    height: 200px;
    border: none;
    float: left;
    object-fit: cover;
}
#card6{
    height: 300px;
    width: 200px;
    padding: 0px;
}
#card6 img{
    width: 320px;
    height: 200px;
    border: none;
    float: left;
    object-fit: cover;
}