<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.instrantes.dao.PsUserDao">
    <resultMap id="PsUserResultMap" type="PsUser">
        <id column="PsUser0" property="userId"/>
        <result column="PsUser1" property="userIsDelete"/>
        <result column="PsUser2" property="userName"/>
        <result column="PsUser3" property="userPassword"/>
        <result column="PsUser4" property="userNickname"/>
        <result column="PsUser5" property="userRole"/>
        <result column="PsUser6" property="userSex"/>
        <result column="PsUser7" property="userAge"/>
        <result column="PsUser8" property="userIntroduction"/>
        <result column="PsUser9" property="userHeadphotoLocation"/>
        <result column="PsUser10" property="userUpdatetime"/>
        <result column="PsUser11" property="userCreatetime"/>
    </resultMap>

    <!-- 查询用户是否存在及Email-->
    <select id="selectPsUserByUserNameEmail" parameterType="java.lang.String" resultType="PsUser">
        SELECT
        user_email
        FROM
        ps_user
        WHERE
        user_name = #{username}
    </select>

    <!--修改密码 updateUserPassword-->
    <update id="updateUserPassword" parameterType="PsUser" >
        update ps_user set user_password = #{userPassword}
        where user_name = #{userName};
    </update>

    <select id="selectPsUserById" parameterType="java.lang.Integer" resultType="PsUser">
        SELECT
        ps_user.user_name,
            ps_user.user_headphoto_location
        FROM
            ps_user
        WHERE
            ps_user.user_id = #{id}
    </select>

    <select id="selectPsUserByName" parameterType="java.lang.String" resultType="PsUser">
        SELECT
            *
        FROM
            ps_user
        WHERE
	        ps_user.user_name =#{userName}
    </select>

<!--查询用户常用的信息，ID 昵称 用户头像 粉丝数目-->
    <!--此处被picSingle.html页面用到-->
    <select id="selectPsUserGeneralInformationById" parameterType="java.lang.Integer" resultType="PsUser">
        SELECT
            ps_user.user_id,
            ps_user.user_nickname,
            ps_user.user_headphoto_location,
            COUNT(ps_watch.watch_userid) AS fan_sum
        FROM
            ps_user
        INNER JOIN ps_watch ON ps_watch.watch_userid = ps_user.user_id
        WHERE
            ps_user.user_is_delete = 0
        AND ps_user.user_id = #{id}
    </select>

    <!--根据用户名只获取userId-->
    <select id="selectPsUserUserIdByName" resultType="java.lang.Integer">
        SELECT
            ps_user.user_id
        FROM
            ps_user
        WHERE
            ps_user.user_name = #{userName}
    </select>


    <insert id="insertPsUser" parameterType="PsUser">
        INSERT INTO ps_user (user_name, user_password)
        VALUES
	    (#{userName},#{userPassword})
    </insert>


    <!--<insert id="insertNonEmptyPsUser" parameterType="com.entity.PsUser">-->
    <!--insert into ps_user-->
    <!--<trim prefix="(" suffix=")" suffixOverrides=",">-->
    <!--<if test="userId != null">user_id,</if>-->
    <!--<if test="userIsDelete != null">user_is_delete,</if>-->
    <!--<if test="userName != null">user_name,</if>-->
    <!--<if test="userPassword != null">user_password,</if>-->
    <!--<if test="userNickname != null">user_nickname,</if>-->
    <!--<if test="userRole != null">user_role,</if>-->
    <!--<if test="userSex != null">user_sex,</if>-->
    <!--<if test="userAge != null">user_age,</if>-->
    <!--<if test="userIntroduction != null">user_introduction,</if>-->
    <!--<if test="userHeadphotoLocation != null">user_headphoto_location,</if>-->
    <!--<if test="userUpdatetime != null">user_updatetime,</if>-->
    <!--<if test="userCreatetime != null">user_createtime,</if>-->
    <!--</trim>-->
    <!--<trim prefix="values (" suffix=")" suffixOverrides=",">-->
    <!--<if test="userId != null"> #{userId},</if>-->
    <!--<if test="userIsDelete != null"> #{userIsDelete},</if>-->
    <!--<if test="userName != null"> #{userName},</if>-->
    <!--<if test="userPassword != null"> #{userPassword},</if>-->
    <!--<if test="userNickname != null"> #{userNickname},</if>-->
    <!--<if test="userRole != null"> #{userRole},</if>-->
    <!--<if test="userSex != null"> #{userSex},</if>-->
    <!--<if test="userAge != null"> #{userAge},</if>-->
    <!--<if test="userIntroduction != null"> #{userIntroduction},</if>-->
    <!--<if test="userHeadphotoLocation != null"> #{userHeadphotoLocation},</if>-->
    <!--<if test="userUpdatetime != null"> #{userUpdatetime},</if>-->
    <!--<if test="userCreatetime != null"> #{userCreatetime},</if>-->
    <!--</trim>-->
    <!--</insert>-->

    <!--<delete id="deletePsUserById" parameterType="java.lang.Integer">-->
    <!--delete from ps_user-->
    <!--where user_id = #{id}-->
    <!--</delete>-->

    <!--<update id="updatePsUserById" parameterType="com.entity.PsUser">-->
    <!--update ps_user set-->
    <!--user_is_delete=#{userIsDelete}-->
    <!--,user_name=#{userName}-->
    <!--,user_password=#{userPassword}-->
    <!--,user_nickname=#{userNickname}-->
    <!--,user_role=#{userRole}-->
    <!--,user_sex=#{userSex}-->
    <!--,user_age=#{userAge}-->
    <!--,user_introduction=#{userIntroduction}-->
    <!--,user_headphoto_location=#{userHeadphotoLocation}-->
    <!--,user_updatetime=#{userUpdatetime}-->
    <!--,user_createtime=#{userCreatetime}-->
    <!--where user_id=#{userId}-->
    <!--</update>-->

    <!--<update id="updateNonEmptyPsUserById" parameterType="com.entity.PsUser">-->
    <!--update ps_user-->
    <!--<set>-->
    <!--<if test="userIsDelete != null">-->
    <!--user_is_delete=#{userIsDelete},-->
    <!--</if>-->
    <!--<if test="userName != null">-->
    <!--user_name=#{userName},-->
    <!--</if>-->
    <!--<if test="userPassword != null">-->
    <!--user_password=#{userPassword},-->
    <!--</if>-->
    <!--<if test="userNickname != null">-->
    <!--user_nickname=#{userNickname},-->
    <!--</if>-->
    <!--<if test="userRole != null">-->
    <!--user_role=#{userRole},-->
    <!--</if>-->
    <!--<if test="userSex != null">-->
    <!--user_sex=#{userSex},-->
    <!--</if>-->
    <!--<if test="userAge != null">-->
    <!--user_age=#{userAge},-->
    <!--</if>-->
    <!--<if test="userIntroduction != null">-->
    <!--user_introduction=#{userIntroduction},-->
    <!--</if>-->
    <!--<if test="userHeadphotoLocation != null">-->
    <!--user_headphoto_location=#{userHeadphotoLocation},-->
    <!--</if>-->
    <!--<if test="userUpdatetime != null">-->
    <!--user_updatetime=#{userUpdatetime},-->
    <!--</if>-->
    <!--<if test="userCreatetime != null">-->
    <!--user_createtime=#{userCreatetime},-->
    <!--</if>-->
    <!--</set>-->
    <!--where user_id=#{userId}-->
    <!--</update>-->


</mapper>