<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>contact us</title>
    <script src="../static/js/jquery-3.2.1.js"></script>
    <link rel="stylesheet" href="../static/css/contactus.css">
    <script src="../static/js/contactus.js"></script>
</head>
<body>
<!--导航栏-->
<div class=""></div>
<!--联系方式-->
<div class="contact-form">
    <h1>联系方式</h1>
    <ul class="flex cards">
        <li id="li1"><h2>公</h2>
            <p>whatever
            </p></li>
        <li id="li2"><h2>公</h2>
            <p>whatever
            </p></li>
        <li id="li3"><h2>公</h2>
            <p>whatever
            </p></li>
    </ul>
    <!--联系-->
    <div class="container">
        <div id="contact" >
            <h3>联系我们</h3>
            <fieldset>
                <input placeholder="姓名" type="text" tabindex="1" required autofocus>
            </fieldset>
            <fieldset>
                <input placeholder="电子邮箱 xx@xx.xx" type="email" tabindex="2" required
                       pattern="(^\w+([-+.]\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*$)">
            </fieldset>
            <fieldset>
                <input placeholder="手机号码 11个数字" id="tel" type="tel" tabindex="3" required pattern="^1[0-9]{10}$">
            </fieldset>
            <fieldset>
                <input placeholder="公司地址" type="text" tabindex="4" required>
            </fieldset>
            <fieldset>
                <textarea placeholder="您的建议（最多120字）" maxlength="120" tabindex="5" required></textarea>
            </fieldset>
            <fieldset>
                <button name="submit" type="submit" id="contact-submit">确定</button>
            </fieldset>
        </div>

    </div>
</div>
<!--footer-->
</body>
</html>