<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
    <title>影约</title>
    <link rel="stylesheet" href="../static/js/bootstrap-3.3.7-dist/css/bootstrap.css">
    <link rel="stylesheet" href="../static/css/ps_default.css">
    <script src="../static/js/jquery-3.2.1.js"></script>
    <script src="../static/js/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <script src="../static/js/psindex.js"></script>
    <script src="../static/js/loginstatus.js"></script>
</head>


<body>
<div class="container-fluid">
    <div class="head-box top_section"><!--头页部分-->
        <nav class="navbar navbar-inverse navbar-fixed-top cust-nav">
            <div class="container-fluid">
                <div class="navbar-header">
                    <!--图标显示-->
                    <div class="navbar-header">
                        <a class="navbar-brand" href="/templates/photoshoot_default.html">
                            <img alt="影约" src="../img/psico.jpg" height="30px" width="30px"/>
                        </a>
                    </div>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav cust-nav-bar">
                        <li><a href="#">最新</a></li>
                        <li><a href="#">约拍</a></li>
                        <li><a href="#">关于我们</a></li>
                        <li class="dropdown" id="nav-find">
                            <a href="#" class="dropdown-toggle" >发现 </a>
                            <ul class="dropdown-menu">
                                <li><a href="#">最新活动</a></li>
                                 <li><a href="#">往期活动</a></li>
                                <li><a href="#">随便看看</a></li>
                                <li class="divider"></li>
                                <li><a href="#">下载APP</a></li>
                                <li><a href="#">商务合作</a></li>
                            </ul>
                        </li>
                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                        <li id="login-li"><a href="javascript:;" id="loginbtn">登录</a></li>
                        <li id="register-li"><a href="javascript:;" id="registerbtn">注册</a></li>
                    </ul>
                </div><!-- 导航栏右侧 -->
            </div><!-- /.container-fluid -->
        </nav><!--导航栏部分-->
        <div class="center">
            <div class="middle">
                <div class="wrap"><!--欢迎部分-->
                    <h1>欢迎,影约!</h1>
                    <h2>一个你从未发现过的幻境，此处，可以回忆你最美好的生活!</h2>
                    <p><a class="btn btn-primary btn-lg" href="#">开始了解</a></p>
                </div>
            </div>
        </div>
    </div>

    <div class="wrapper"><!--主体部分-->
        <div class="overlay"></div>
        <div class="background"></div>
        <!--搜索部分-->
        <div>
        </div>
        <section class="content">
            <div class="center">
                <div class="recommend-line"><a>由此开始</a></div>
            </div>
            <!--选择标签部分-->
            <div class="reco">
                <ul class="reco-tags">
                    <li class="active"><a href="javascript:;">人物</a></li>
                    <li><a href="javascript:;">动物</a></li>
                    <li><a href="javascript:;">风景</a></li>
                    <li><a href="javascript:;">汽车</a></li>
                </ul>
            </div>

            <!--显示图片的两行-->
            <div class="pic_con">
                <div class="photo_row">
                    <div class="reco-pic-thumbnail"><a class="pic" style="background-image: url(../img/r0.jpg)"></a>
                    </div>
                    <div class="reco-pic-thumbnail"><a class="pic" style="background-image: url(../img/r1.jpg)"></a>
                    </div>
                    <div class="reco-pic-thumbnail"><a class="pic" style="background-image: url(../img/r2.jpg)"></a>
                    </div>
                </div>

                <div class="photo_row">
                    <div class="reco-pic-thumbnail"><a class="pic" style="background-image: url(../img/r3.jpg)"></a>
                    </div>
                    <div class="reco-pic-thumbnail"><a class="pic" style="background-image: url(../img/r4.jpg)"></a>
                    </div>
                    <div class="reco-pic-thumbnail"><a class="pic" style="background-image: url(../img/r5.jpg)"></a>
                    </div>
                </div>
            </div>

        </section>
        <section class="content">
            <div class="center">
                <div class="recommend-line"><a>精彩活动</a></div>
            </div>
        </section>
    </div><!--主体部分-->

    <footer class="index-footer" id="index_footer"><!--脚页部分-->
        <!--关于我们-->
        <ul>
            <li><h4>关于我们</h4></li>
            <li>这里充满了热爱摄影的人!<br/>
                这有有你需要的摄影师!
            </li>
        </ul>
        <!--联系与合作-->
        <ul>
            <li><h4>联系与合作</h4></li>
            <li><a href="#" style="text-decoration: none">联系我们</a></li>
            <li><a href="#" style="text-decoration: none">用户反馈</a></li>
        </ul>
        <!--移动-->
        <ul>
            <li><h4>客户端</h4></li>
            <li><a href="#" style="text-decoration: none">影约 Android 版</a></li>
            <li><a href="#" style="text-decoration: none">影约 Iphone 版</a></li>
        </ul>
    </footer><!--脚页部分-->

    <!--登录弹框-->
    <div class="login-dialog">
        <form method="post" action="/PsUserController/check">
            <div class="logo">
                <h3><img src="../img/psico.jpg" style="width: 30px"/> 影约 </h3>
            </div>
            <div class="form-group">
                <input class="input-place" name="account" autofocus="" required="" placeholder="手机号\邮箱\用户名">
            </div>
            <div class="form-group">
                <input class="input-place" type="password" name="password" required="" placeholder="输入密码">
                <!--<a href="//tuchong.com/account/forget/" target="_blank" class="input-tips forget-password">忘记密码？</a>-->
            </div>
            <div class="form-group text-center">
                <button id="logbtn" class="btn submit-btn btn-danger">
                    登录
                </button>
            </div>
            <!--此处是关闭按钮-->
            <div class="close"></div>
        </form>
    </div>

    <!--注册弹框-->
    <div class="register-dialog">
        <!--<form method="post">-->
         <!--<form method="post" action="/templates/user_default.html">-->
            <div class="logo">
                <h3><img src="../img/psico.jpg" style="width: 30px"/> 影约 </h3>
            </div>
            <!--后期再加入这个-->
            <!--<div class="form-group">-->
                <!--<input class="input-place" name="account" autofocus="" required="" placeholder="手机号">-->
            <!--</div>-->
            <div class="form-group">
                <input class="input-place" id="username" name="username" required="" placeholder="用户名">
            </div>
            <div class="form-group">
                <input class="input-place" type="password" id="password" name="password" required="" placeholder="密码">
            </div>
            <div class="form-group">
                <input class="input-place" type="password" id="vpassword" name="password" required="" placeholder="确认密码">
            </div>
            <div class="form-group text-center">
                <button id="regbtn" class="btn submit-btn btn-info">
                    注册
                </button>
            </div>
            <!--此处是关闭按钮-->
            <div class="close"></div>
        <!--</form>-->
    </div>
</div>

</body>

</html>