<!DOCTYPE html>
<html lang="zh-CN" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
    <title>test</title>
    <link rel="stylesheet" href="../static/js/bootstrap-3.3.7-dist/css/bootstrap.css">
    <script src="../static/js/jquery-3.2.1.js"></script>
    <script src="../static/js/bootstrap-3.3.7-dist/js/bootstrap.js"></script>
    <link rel="stylesheet" href="../static/css/test.css">
    <link rel="stylesheet" href="../static/js/jquery.imgareaselect-0.9.10/css/imgareaselect-default.css">
    <script src="../static/js/jquery.imgareaselect-0.9.10/scripts/jquery.imgareaselect.pack.js"></script>
    <script src="../static/js/test.js"></script>


</head>
<body>
<div class="form-group">
    <label class="col-md-3 control-label" for="img">Image</label>
    <div class="col-md-4">
        <input type="file" id="img" name="img" onchange="uploadImage();">
        <input type="hidden" id="pic-address" name="pic-address">
    </div>
</div>

<div>
    <div class="modal" id="modal-picture" data-backdrop="true" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="block block-themed block-transparent remove-margin-b">
                    <div class="block-header bg-primary-dark">
                        <ul class="block-options">
                            <li>
                                <button data-dismiss="modal" type="button"><i class="si si-close"></i></button>
                            </li>
                        </ul>
                        <h3 class="block-title">Picture Tailor</h3>
                    </div>
                    <div class="block-content">
                        <div class="row">
                            <div class="form-group">
                                <div class="col-xs-12" style=" width: 330px; height: 300px;">
                                    <input type="hidden" id="width" value="40"/>
                                    <input type="hidden" id="height" value="30"/>
                                    <input type="hidden" id="x" value="0"/>
                                    <input type="hidden" id="y" value="0"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <!--<button class="btn btn-sm btn-default" type="button" data-dismiss="modal">Close</button>-->
                    <button class="btn btn-sm btn-primary" type="button" data-dismiss="modal" id="pic-tailor"><i
                            class="fa fa-check"></i> Ok
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Small modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-sm">Small modal
</button>
<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <img src="../img/wallhaven-511564.jpg"/></div>
    </div>
</div>

<p></p>
<p></p>


<p>
<span class="box">sssssssssssssss</span>
</p>
<p class="box">Other content.</p>
<li id="t-img">
<img src="../../../../target/photoshoot/img/d4.jpg" style="width: 250px" />
</li>

<div class="bg" style="width: 300px;height: 300px;background-image: url(../img/r0.jpg);"></div>


</body>
</html>