<!DOCTYPE html>
<html lang="zh-CN" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
    <title>test</title>
    <link rel="stylesheet" href="../static/js/bootstrap-3.3.7-dist/css/bootstrap.css">
    <script src="../static/js/jquery-3.2.1.js"></script>
    <script src="../static/js/bootstrap-3.3.7-dist/js/bootstrap.js"></script>
    <link rel="stylesheet" href="../static/css/test.css">
    <link rel="stylesheet" href="../static/js/jquery.imgareaselect-0.9.10/css/imgareaselect-default.css">
    <script src="../static/js/jquery.imgareaselect-0.9.10/scripts/jquery.imgareaselect.pack.js"></script>
    <script src="../static/js/test.js"></script>


</head>
<body>
<button id="rgs-get-code" class="aui-btn-warning">asddasdsa</button>

</body>
</html>