<!DOCTYPE html>
<html lang="zh-CN" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
    <title>test</title>

    <link rel="stylesheet" href="../static/css/test.css">

</head>
<body>

<ul class="grid hover-1">

</ul>
<script src="../static/js/jquery-3.2.1.js"></script>
<script src='https://afarkas.github.io/lazysizes/lazysizes.min.js'></script>
<script src="../static/js/lazy.js"></script>
<script src="../static/js/test.js"></script>

</body>
</html>