<nav>
    <a class="logo" href="/"></a>
    <ul class="nav-content">
        <li><a href="/templates/picShow.html">最新</a></li>
        <li>约拍</li>
        <li>关于我们</li>
        <li class="drop-hover">发现
            <ul class="drop-menu">
                <li><a href="/templates/picchange.html">最新活动</a></li>
                <li><a href="/templates/picchange.html">往期活动</a></li>
                <li>随便看看</li>
                <li>下载APP</li>
                <li><a href="/templates/contactus.html">商务合作</a></li>
            </ul>
        </li>
    </ul>
    <div class="nav-right">
        <li>
            <a href="javascript:void(0);" class="reg">注册</a>
        </li>
        <li>
            <a href="javascript:void(0);" class="login">登录</a>
        </li>

    </div>
    </div>
</nav>
