<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>picchange</title>
    <link rel="stylesheet" href="../static/css/picchange.css">
    <script src="../static/js/jquery-3.2.1.js"></script>
    <script src="../static/js/picchange.js"></script>

</head>
<body>
<div class="box">
    <div class="list">
        <ul>
            <li class="p7"><a href="#"><img src="../img/common/1.png" alt=""/></a></li>
            <li class="p6"><a href="#"><img src="../img/common/2.png" alt=""/></a></li>
            <li class="p5"><a href="#"><img src="../img/common/3.png" alt=""/></a></li>
            <li class="p4"><a href="#"><img src="../img/common/4.jpg" alt=""/></a></li>
            <li class="p3"><a href="#"><img src="../img/common/5.jpg" alt=""/></a></li>
            <li class="p2"><a href="#"><img src="../img/common/6.jpg" alt=""/></a></li>
            <li class="p1"><a href="#"><img src="../img/common/7.jpg" alt=""/></a></li>
        </ul>
    </div>
</div>
<div class="tabBox">
    <ul class="navTabs clearfix">
        <li class="active"><a href="javascript:;">进行中</a></li>
        <li><a href="javascript:;">已结束</a></li>
    </ul>
    <div class="tabContent">
        <div class="tabPane">
            <ul class="flex cards">
                <li id="card1">
                    <img src="../img/common/1.png" height="432" width="1080"/>
                    <h2>法国音乐人巡演</h2>
                    <p><span class="spancol">活动时间:</span>2017-10-16~2017-11-17</p>
                    <p>有嗨简介</p>
                </li>
                <li id="card2">
                    <img src="../img/common/2.png" height="432" width="1080"/>
                    <h2>古典音乐巡演</h2>
                    <p><span class="spancol">活动时间:</span>2017-10-16~2017-11-17</p>
                    <p>有嗨简介</p>
                </li>
                <li id="card3">
                    <img src="../img/common/3.png" height="432" width="1080"/>
                    <h2>经典声音</h2>
                    <p><span class="spancol">活动时间:</span>2017-10-16~2017-11-17</p>
                    <p>有嗨简介</p>
                </li>
            </ul>
        </div>
        <div class="tabPane">
            <ul class="flex cards">
                <li id="card4">
                    <img src="../img/common/4.jpg" height="432" width="1080"/>
                    <h2>师任堂全球巡演</h2>
                    <p><span class="spancol2">活动时间:</span>2017-10-16~2017-11-17</p>
                    <p>有嗨简介</p>
                </li>
                <li id="card5">
                    <img src="../img/common/5.jpg" height="432" width="1080"/>
                    <h2>鹿晗音乐巡演</h2>
                    <p><span class="spancol2">活动时间:</span>2017-10-16~2017-11-17</p>
                    <p>有嗨简介</p>
                </li>
                <li id="card6">
                    <img src="../img/common/6.jpg" height="432" width="1080"/>
                    <h2>郑俊英新专发售特价</h2>
                    <p><span class="spancol2">活动时间:</span>2017-10-16~2017-11-17</p>
                    <p>有嗨简介</p>
                </li>
            </ul>
        </div>
        </div>
    </div>
</div>
</body>
</html>