<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>图片展示</title>
    <link rel="stylesheet" href="../static/css/picShow.css">
    <link rel="stylesheet" href="../static/css/nav.css">
</head>
<body>
<div id="navbar"></div>
<ul class="grid hoverUp">
    <p class="tip"><span>认真点的赞不能取消哦！ </span></p>

</ul>
<img src="../img/common/three-dots.svg" alt="" class="loading">
<button class="back-to-top">
    <svg t="1509786524887" class="icon" style="" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="2533"
         xmlns:xlink="http://www.w3.org/1999/xlink" width="200" height="200">
        <defs>
            <style type="text/css"></style>
        </defs>
        <path d="M512 64.71c-247.031 0-447.29 200.258-447.29 447.289 0 247.031 200.259 447.29 447.29 447.29 247.031 0 447.29-200.26 447.29-447.29 0-247.031-200.26-447.29-447.29-447.29z m238.354 580.005L510.298 383.188l-239.11 261.493-53.648 0.034 292.727-322.458L806.46 644.715h-56.106z"
              p-id="2534" fill="#dbdbdb"></path>
    </svg>
</button>
<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
<script src='https://afarkas.github.io/lazysizes/lazysizes.min.js'></script>
<script>
    window.lazySizesConfig = window.lazySizesConfig || {};
</script>
<script src="../static/js/picShow.js"></script>

</body>
</html>