<!DOCTYPE html>
<html lang="zh-CN" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
    <title>test</title>

    <script src="../static/js/jquery-3.2.1.js"></script>
    <link rel="stylesheet" href="../static/css/test.css">


</head>
<body>


</body>

<script>
    window.onload = function () {
        var picLoadNum=20;
        let a = {ex: 0};
        Object.defineProperty(a, 'ex', {
            set: function (value) {
                ex=value;
                if(!(value % picLoadNum)){
                console.log(value);
                }
            },
            get: function () {
                return ex;
            }
        })
        a.ex = 20;
        a.ex=23;
//        console.log("con:"+a.ex);

    }
</script>
<script src="../static/js/test.js"></script>
</html>